@font-face {
  font-family: 'Yeseva One';
  src: url('../fonts/YesevaOne-Regular.eot');
  src: url('../fonts/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/YesevaOne-Regular.woff2') format('woff2'),
  url('../fonts/YesevaOne-Regular.woff') format('woff'),
  url('../fonts/YesevaOne-Regular.ttf')  format('truetype'),
  url('../fonts/YesevaOne-Regular.svg#Yeseva One') format('svg');
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Regular.eot');
  src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSerif-Regular.woff2') format('woff2'),
  url('../fonts/PTSerif-Regular.woff') format('woff'),
  url('../fonts/PTSerif-Regular.ttf')  format('truetype'),
  url('../fonts/PTSerif-Regular.svg#PT Serif') format('svg');
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Bold.eot');
  src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSerif-Bold.woff2') format('woff2'),
  url('../fonts/PTSerif-Bold.woff') format('woff'),
  url('../fonts/PTSerif-Bold.ttf')  format('truetype'),
  url('../fonts/PTSerif-Bold.svg#PT Serif') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.eot');
  src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Merriweather-Regular.woff2') format('woff2'),
  url('../fonts/Merriweather-Regular.woff') format('woff'),
  url('../fonts/Merriweather-Regular.ttf')  format('truetype'),
  url('../fonts/Merriweather-Regular.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.eot');
  src: url('../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Merriweather-Bold.woff2') format('woff2'),
  url('../fonts/Merriweather-Bold.woff') format('woff'),
  url('../fonts/Merriweather-Bold.ttf')  format('truetype'),
  url('../fonts/Merriweather-Bold.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather Black';
  src: url('../fonts/Merriweather-Black.eot');
  src: url('../fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Merriweather-Black.woff2') format('woff2'),
  url('../fonts/Merriweather-Black.woff') format('woff'),
  url('../fonts/Merriweather-Black.ttf')  format('truetype'),
  url('../fonts/Merriweather-Black.svg#Merriweather Black') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf')  format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf')  format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto Light') format('svg');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf')  format('truetype'),
  url('../fonts/Roboto-Medium.svg#Roboto Medium') format('svg');
}

@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Black.woff2') format('woff2'),
  url('../fonts/Roboto-Black.woff') format('woff'),
  url('../fonts/Roboto-Black.ttf')  format('truetype'),
  url('../fonts/Roboto-Black.svg#Roboto Black') format('svg');
}

